* {
  box-sizing: border-box;
  margin: 20;
  padding: 20;
  font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  background: rgb(65, 84, 74) 0%;
}
h1 {
  text-align: center;
  margin: 32px 0;
  color: #fff;
  font-size: 30px;
}

.read {
  text-decoration: line-through;
  opacity: 0.4;
}

.blog-form {
  margin-bottom: 32px;
  text-align: center;
  
}

.blog-input {
  padding: 15px;
  font-size: 18px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #1f1f31;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
}

.blog-input::placeholder {
  color: #e2e2e2;
}

.blog-button {
  padding: 16px;
  border: none;
  font-size: 18px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(24, 22, 28) 0%,
    rgb(90, 58, 110) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.blog-input.edit {
  border: 2px solid #149fff;
}

.blog-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}


.blog-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
  max-width: 800px;
}

.blog-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.blog-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.blog-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}